@import "../variables.less";





/*------------*\

		$general

\*------------*/

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;

	font-family: 'arial';
	font-size: 16px;
	font-weight: lighter;
	color: #212121
}

a {
	text-decoration: none;
	color: inherit;
}

input, button {
	height: @input-height;
	width: @input-width;

	padding: 0 @input-paddingRightAndLeft;
	border: 0;
	border-radius: @input-borderRadius;
	border: 1px solid @input-borderColor;
}

button {
	color: white;
	background-color: @header-backgroundColor;
	cursor: pointer;
}

input[type="submit"] {
	width: auto;
	cursor: pointer;
}

.login-button, .text-besides-image {
	color: white;
}

input[type="checkbox"] {
	width: @checkbox-size;
	height: @checkbox-size;
}

h1 {
	font-size: 32px;
}

h2 {
	font-size: 28px;
}

h3 {
	font-size: 22px;
}




/*------------*\

		$wrapper

\*------------*/

#wrapper {
	width: @wrapper-width;
	height: auto;

	margin: @wrapper-marginTopAndBottom auto;

	border: 1px solid black;
}





/*------------*\

		$header

\*------------*/

#header {
	width: 100%;
	height: @header-height;

	padding: 0 @header-paddingRightAndLeft;
	background-color: @header-backgroundColor;

	input, button {
		border: 0;
	}

	& > section {
		height: 100%;

		display: flex;
		justify-content: space-between;

		& > div {
			line-height: @header-height;
		}

		& > div:first-of-type {
			text-align: left;
		}

		& > div:nth-of-type(2) {
			text-align: center;
			font-size: 24px;
		}

		& > div:last-of-type {
			text-align: right;
		}
	}
}




/*------------*\

		$main

\*------------*/

#main {

	padding: @main-padding;

	.main-header {
		height: @main-header-height;
		line-height: @main-header-height;

		display: flex;
		justify-content: space-between;

		margin: @main-header-margin;

		.main-header-panel {			
			button {
				width: auto;

				padding: @main-header-panel-padding;
				display: inline-block;
			}
		}
	}
}