<template name="layout">
	
	<div id="wrapper">
		
		<header id="header">
			<section>

				<div>
					{{#if currentUser}}
						<form id="searchByHid">
							<input type="search" placeholder="HID" minlength="8" maxlength="8" autocomplete="false" required />
							<input type="submit" value="search" />
						</form>
					{{/if}}
				</div>

				<div>IHDB</div>

				<div>
					{{#if currentUser}}
						<span>{{currentUser.services.paypal.name}}</span>
					{{/if}}
					{{> loginButtons}}
				</div>

			</section>
		</header>

		<main id="main">
			{{> yield}}
		</main>

		<footer id="footer"></footer>

	</div>

</template>