/* ---------- *\

		$general

\* ---------- */
@color-red: #EF5350;
@color-black: #212121;
@color-grey: rgb(221, 221, 221);

@input-height: 32px;
@input-width: 200px;
@input-paddingRightAndLeft: 8px;
@input-borderRadius: 3px;
@input-borderColor: rgba(0,0,0,0.4);

@checkbox-size: 20px;

@border-color: #212121;



/* ---------- *\

		$wrapper

\* ---------- */

@wrapper-width: 96%;
@wrapper-marginTopAndBottom: 20px;





/* ---------- *\

		$header

\* ---------- */

@header-height: 64px;
@header-paddingRightAndLeft: 20px;
@header-backgroundColor: #EF5350;

@header-div-paddingRightAndLeft: 8px;




/* ---------- *\

		$main

\* ---------- */
@main-padding: 25px;

@main-header-height: 50px;
@main-header-fontSize: 24px;
@main-header-margin: 0 0 25px 0;

@main-header-panel-padding: 0 25px;



/* ---------- *\

		$forms

\* ---------- */
@helpBlock-height: 24px;

@helpBlock-panel-marginTop: 20px;
@helpBlock-button-marginTop: 25px;





/* ---------- *\

		$tables

\* ---------- */
@table-header-height: 50px;
@table-header-marginTop: 25px;

@table-row-height: @input-height;