@import '../../variables.less';

.table {

	width: 90%;
	margin: 0 5%;
		
	.table-header {
		height: @table-header-height;
		width: 100%;

		line-height: @table-header-height;
		margin-top: @table-header-marginTop;
	}

	.table-row {
		height: @table-row-height;
		width: 100%;

		line-height: @table-row-height;

		display: flex;
		justify-content: space-between;
	}

	.table-row-item {
		width: 50%;

		&:last-of-type {
			text-align: right;
		}
	}

}
