<template name="landingpage">
	
	<div id="landingpage">
		
		<div class="main-header">
			<h1>Landing Page</h1>

			<div class="main-header-panel">
			</div>
		</div>

		<div class="main-body">
		</div>

	</div>
	
</template>