<template name="add">
	
	<div id="add">
		
		<div class="main-header">
			<h1>{{title}}</h1>

			<div class="main-header-panel">
				{{#each buttons}}
					<a href="{{href}}"> <button>{{name}}</button> </a>
				{{/each}}
			</div>
		</div>

		<div class="main-body">

			{{#autoForm schema=schema id=id type="method" meteormethod=method}}
				{{> afQuickFields omitFields=omit}}
				
				<div class="form-group">
					<button type="submit">submit</button>
				</div>
			{{/autoForm}}

		</div>

	</div>
	
</template>