@import '../../variables.less';

.folder {

  -moz-user-select: none;
  -webkit-user-select: none;
  -ms-user-select: none;
	user-select: none;

	header {
		height: 30px;
		line-height: 30px;

		padding: 0 15px;

		background-color: #9E9E9E;
		color: white;

		cursor: default;
	}

	main {
		border-right: 1px solid @border-color;
		border-left: 1px solid @border-color;
		border-bottom: 1px solid @border-color;
		
		background-color: white;
	}

	.folder-item {
		height: 26px;
		
		padding: 0 15px;
		display: flex;
		justify-content: space-between;
		align-items: center;

		&:hover {
			background-color: rgba(0,0,0,0.05);
		}

		& div {
			height: 26px;

			display: flex;
			justify-content: space-between;
			align-items: center;
			padding: 0;

			input[type="number"] {
				height: 86%;
				width: 100px;

				margin-right: 15px;
			}
		}
	}

}