<template name="dashboard">
	
	<div id="dashboard">
		
		<div class="main-header">
			<h1>{{title}}</h1>

			<div class="main-header-panel">
				{{#each buttons}}
					<a href="{{href}}"> <button>{{name}}</button> </a>
				{{/each}}
			</div>
		</div>

		<div class="main-body">
			<div class="folder">
				<header>
					Hotels
				</header>

				<main>
					{{#each hotels}}
						<a href="view/hotel/{{hid}}" class="folder-item">{{name}}</a>
					{{/each}}
				</main>
			</div>

			<br />
			
			<div class="folder">
				<header>
					Favorites
				</header>

				<main>
					{{#each favorites}}
						<a href="view/hotel/{{hid}}" class="folder-item">{{name}}</a>
					{{/each}}
				</main>
			</div>
		</div>

	</div>
	
</template>