@import "../../variables.less";

#book {

	#roompicker {
		#refresh, #total{
			width: auto;

			margin: 10px 10px 0 0;
			float: right;
		}

		#total {
			height: @input-height;

			padding: 0 @input-paddingRightAndLeft;
			border: 0;
			border-radius: @input-borderRadius;
			border: 1px solid @input-borderColor;

			line-height: @input-height;
			background-color: @color-grey;

			margin-right: 0;
			cursor: default;
		}
	}

	.clear {
		clear: both;
	}

	.folder-item {
		height: 34px;
	}

	#paymentform .folder-item:last-of-type {
		justify-content: center;
	}

	input {
		height: 28px;
	}

}