<template name="book">
	
	<div id="book">
		
		<div class="main-header">
			{{#if hotel}}

				<h1>Book {{hotel.name}}</h1>

				<div class="main-header-panel">
					{{#each buttons}}
						<a href="{{href}}"> <button>{{name}}</button> </a>
					{{/each}}
				</div>

			{{else}}

				<h1>404 not found</h1>

				<div class="main-header-panel">
						<a href="/"> <button>back</button> </a>
				</div>

			{{/if}}
		</div>

		<div class="main-body">
			{{#if hotel}}

				<form id="datepicker">
					<input type="date" placeholder="checkIn" id="checkIn" />
					<input type="date" placeholder="checkOut" id="checkOut" />
					<input type="submit" value="next" />
				</form>

				{{#if roomsReady}}

					<br />
					<br />

					<form class="folder" id="roompicker">
						<header>
							Rooms - {{selectedPeriod.get.length}} nights
						</header>

						<main>
							{{#each roomsUpdated.get}}
								<div class="folder-item">
									<a href="/view/hotel/{{../hotel.hid}}/room/{{_id}}" target="_blank">{{name}} - for {{size}} person(s)  -  {{defaultPrice}} {{../hotel.currency}}</a>
									<div>
										<label>
											quantity: 
											<input type="number" id="{{_id}}" min="0" max="{{amount}}" placeholder="max: {{amount}}" />
										</label>
										<input type="checkbox" data-rid="{{_id}}" />
									</div>
								</div>
							{{/each}}
						</main>

						<div id="total">total: {{#if total.get}} {{total.get}} {{else}} 0 {{/if}} {{hotel.currency}}</div>
						<button id="refresh">refresh</button>
						<div class="clear"></div>
					</form>
					
					<br />
					<br />

					<form class="folder" id="paymentform">
						<header>
							Pay Width PayPal - {{hote.name}} for {{selectedPeriod.get.length}} nights - {{#if total.get}} {{total.get}} {{else}} 0 {{/if}} {{hotel.currency}}
						</header>

						<main>
							<div class="folder-item"><label>type</label> <input type="text" id="type" /></div>
							<div class="folder-item"><label>number</label> <input type="number" id="number" /></div>
							<div class="folder-item"><label>expire month</label> <input type="number" min="1" max="12" id="expire_month" /></div>
							<div class="folder-item"><label>expire year</label> <input type="number" min="2016" max="3000" id="expire_year" /></div>
							<div class="folder-item"><label>cvv2</label> <input type="number" id="cvv2"/></div>
							<div class="folder-item"><label>first name</label> <input type="text" id="first_name" /></div>
							<div class="folder-item"><label>last name</label> <input type="text" id="last_name" /></div>
							<div class="folder-item"><input type="submit"></div>
						</main>
					</form>
					
				{{/if}}

			{{/if}}
		</div>

	</div>
	
</template>