<template name="TEMPLATE">
	
	<div id="TEMPLATE">
		
		<div class="main-header">
			<h1>HEADING</h1>

			<div class="main-header-panel">
				<button>button1</button>
				<button>button2</button>
			</div>
		</div>

		<div class="main-body">
			<div>BODY</div>
		</div>

	</div>
	
</template>