<template name="viewHotel">
	
	<div id="view">
		
		<div class="main-header">
			{{#if hotel}}

				<h1>{{hotel.name}}</h1>

				<div class="main-header-panel">
					{{#each buttons}}
						<a href="{{href}}"> <button>{{name}}</button> </a>
					{{/each}}
				</div>

			{{else}}

				<h1>404 not found</h1>

				<div class="main-header-panel">
						<a href="/"> <button>back</button> </a>
				</div>

			{{/if}}
		</div>

		<div class="main-body">
			{{#if hotel}}

				<section class="table">
					<div class="table-row">
						<div class="table-row-item">hid</div>
						<div class="table-row-item">{{hotel.hid}}</div>
					</div>
					<div class="table-row">
						<div class="table-row-item">Description</div>
						<div class="table-row-item">{{hotel.description}}</div>
					</div>
					<div class="table-row">
						<div class="table-row-item">rating</div>
						<div class="table-row-item">{{hotel.rating}}</div>
					</div>
					<div class="table-row">
						<div class="table-row-item">commission</div>
						<div class="table-row-item">{{hotel.commission}}</div>
					</div>
					<div class="table-row">
						<div class="table-row-item">currency</div>
						<div class="table-row-item">{{hotel.currency}}</div>
					</div>

					<div class="table-header">
						<h3>Location</h3>
					</div>

					<div class="table-row">
						<div class="table-row-item">country</div>
						<div class="table-row-item">{{hotel.location.country}}</div>
					</div>
					<div class="table-row">
						<div class="table-row-item">state</div>
						<div class="table-row-item">{{hotel.location.state}}</div>
					</div>
					<div class="table-row">
						<div class="table-row-item">city</div>
						<div class="table-row-item">{{hotel.location.city}}</div>
					</div>
					<div class="table-row">
						<div class="table-row-item">zip</div>
						<div class="table-row-item">{{hotel.location.zip}}</div>
					</div>
					<div class="table-row">
						<div class="table-row-item">address</div>
						<div class="table-row-item">{{hotel.location.address}}</div>
					</div>

					<div class="table-header">
						<h3>Contact</h3>
					</div>

					<div class="table-row">
						<div class="table-row-item">website</div>
						<div class="table-row-item">{{hotel.contact.website}}</div>
					</div>
					<div class="table-row">
						<div class="table-row-item">email</div>
						<div class="table-row-item">{{hotel.contact.email}}</div>
					</div>
					<div class="table-row">
						<div class="table-row-item">phone</div>
						<div class="table-row-item">{{hotel.contact.phone}}</div>
					</div>
					
					<br />
					<br />

					<div class="folder">
						<header>Rooms</header>
						<main>
							{{#each rooms}}
								<a href="/view/hotel/{{owner}}/room/{{_id}}"  class="folder-item">{{name}} - for {{size}} person(s)</a>
							{{/each}}
						</main>
					</div>
				</section>

			{{/if}}
		</div>

	</div>
	
</template>