<template name="viewRoom">
	
	<div id="view">
		
		<div class="main-header">
			{{#if room}}

				<h1>{{room.name}}</h1>

				<div class="main-header-panel">
					{{#each buttons}}
						<a href="{{href}}"> <button>{{name}}</button> </a>
					{{/each}}
				</div>

			{{else}}

				<h1>404 not found</h1>

				<div class="main-header-panel">
						<a href="/view/hotel/{{hotel.hid}}"> <button>back</button> </a>
				</div>

			{{/if}}
		</div>

		<div class="main-body">
			{{#if room}}

				<section class="table">
					<div class="table-row">
						<div class="table-row-item">rid</div>
						<div class="table-row-item">{{room._id}}</div>
					</div>
					<div class="table-row">
						<div class="table-row-item">size</div>
						<div class="table-row-item">{{room.size}}</div>
					</div>
					<div class="table-row">
						<div class="table-row-item">amount</div>
						<div class="table-row-item">{{room.amount}}</div>
					</div>
					<div class="table-row">
						<div class="table-row-item">default price</div>
						<div class="table-row-item">{{room.defaultPrice}}</div>
					</div>
					<div class="table-row">
						<div class="table-row-item">owner</div>
						<div class="table-row-item">{{room.owner}}</div>
					</div>
					<div class="table-row">
						<div class="table-row-item">public</div>
						<div class="table-row-item">{{#if room.public}} {{room.public}} {{else}} false {{/if}}</div>
					</div>
				</section>

			{{/if}}
		</div>

	</div>
	
</template>